.section{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 5px;
}
.red_bar{
    background-color: #EC4327;
    width: 50px;
    height: 4px;
border-radius: 10px;
}
.littletext{
    color: grey;
}
.imagebox{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.logo{
    justify-content: center;
    display: flex;
  
    width:40px;
    height:82 px;
}
.mysection{
 justify-content: center;
 background-color: rgb(227, 224, 219);
 display: flex;
 align-items: center;
 flex-direction: column;
 gap: 20px;
}
.title{
    font-weight: bold;
    display: flex;
    flex-direction: row;
    
}
.text{
    display:flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;

}
.navbar {
    display: flex;
    align-content: center;
    flex-direction: row;
    background-color: silver;
}
.navbar ul {
    display: flex;
    flex-direction: row;
    gap: 100px;
    list-style-type: none;
}
.navbar ul li:hover {
    cursor: pointer;
    padding: 4px;
}
.maincontent { 
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: beige;
    flex-direction: column;
}
.content {
    justify-content: center;
    align-content: center;
}
.span {
    justify-content: center;
    align-content: center;
    color: red;
}